<%= @band.name %><br />
 <%= @band.founder%> <br />
 instrument: <a href="/instruments/<%=@band.instrument.id%>"><%= @band.instrument.name %></a> <br />
 <a href="/bands/<%=@band.id%>/edit">Edit</a>
 <br />
 <br />
